<div class="col-md-6">
  <%= link_to event_path(event) do %>
      <div class="card">
        <img class="card-img-top" src="<%= event.hero_image_url %>">
        <div class="card-block">
          <h4 class="card-title">
            <%= event.name %>
            <% if action_name == 'my_events' %>
                <% if event.starts_at < Date.today %>
                    <span class="label label-danger">Outdated</span>
                <% end %>
                <% if event.published? %>
                    <span class="label label-success">Published</span>
                <% else %>
                    <span class="label label-default">Draft</span>
                <% end %>
            <% end %>
          </h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div>
  <% end %>
</div>  
